version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "tuesday"
      time: "18:00"
      timezone: "America/Mexico_City"
    rebase-strategy: "auto"

    open-pull-requests-limit: 5

    commit-message:
      prefix: "chore"
      include: "scope"
